header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#d9e2ff; /* Background color of the header */
    padding: 8px 30px;
    color: black;
}

.logo h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px; /* Adjust this value for the desired title size */
   
    margin: 0; /* Remove default margin for better alignment */
}

.logo {
    width: 200px; 
    
    height: auto; /* Maintain image proportions */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: black;
    font-size: 22px;
    text-decoration:none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline; 
}
