<app-header></app-header>
<mat-divider class="header-divider"></mat-divider> <!-- Utilise Angular Material Divider -->

<div class="container">
    <div class="icon-container">
        <img src="assets/icon.jpg" alt="Icône" class="icon">
    </div>
    <div class="action-containers">
        <div class="action-container">
            <p class="description">Partagez votre trajet<br> et trouvez un compagnon de route.</p>
            <button class="action-button" [routerLink]="['/upload']">Poster</button>
        </div>
        <div class="action-container">
            <p class="description">Recherchez des trajets disponibles<br> et rejoignez un voyage.</p>
            <button class="action-button" [routerLink]="['/find']">Chercher</button>
        </div>
    </div>
</div>
