
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d9e2ff;
    color: #333;
}

h2 {
    text-align: center;
    color: #a8d4c7;
    margin-bottom: 20px;
    font-weight: bold;
    
}

.history-container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* Section Styles */
.section {
    margin-bottom: 30px;
}

.section h3 {
    color: #3d6ddf;
    margin-bottom: 15px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}