<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="login.component.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
    <div class="container">
        <div class="signup-container">
            <div class="image-section">
                <img src="assets/login.png" >
            </div>
            <div class="form-section">
                <h2>Connexion</h2>
                <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
                    <div class="input-group">
                      <label for="name">
                        <i class="fa fa-envelope"></i>
                        <input type="email" id="name" placeholder="Votre email" formControlName="email" />
                      </label>
                    </div>
                    <div class="input-group">
                      <label for="password">
                        <i class="fa fa-lock"></i>
                        <input type="password" id="password" placeholder="Mot de passe" formControlName="password" />
                      </label>
                    </div>
                    <div class="remember-me">
                      <input type="checkbox" id="remember" />
                      <label for="remember">Se souvenir de moi</label>
                    </div>
                    <button type="submit" class="login-btn" [disabled]="loginForm.invalid">Se connecter</button>
                  </form>
                <p class="create-account">
                    <a href="signup">Créer un compte</a>
                </p>
                
            </div>
        </div>
    </div>
</body>
</html>
